<!-- The Side Bar -->

<aside aria-label="Sidebar" id="sidebar" class="d-flex flex-column align-items-end">
  <header class="profile-wrapper">
    <a href="{{ '/' | relative_url }}" id="avatar" class="rounded-circle">
      {%- if site.avatar != empty and site.avatar -%}
        {%- capture avatar_url -%}
          {% include img-url.html src=site.avatar %}
        {%- endcapture -%}
        <img src="{{- avatar_url -}}" width="112" height="112" alt="avatar" onerror="this.style.display='none'">
      {%- endif -%}
    </a>

    <h1 class="site-title">
      <a href="{{ '/' | relative_url }}">{{ site.title }}</a>
    </h1>
    <p class="site-subtitle fst-italic mb-0">{{ site.tagline }}</p>
  </header>

  <nav class="flex-column flex-grow-1 w-100 ps-0">
    <ul class="nav">
      <!-- Home and other primary tabs -->
      <li class="nav-item{% if page.layout == 'home' %}{{ " active" }}{% endif %}">
        <a href="{{ '/' | relative_url }}" class="nav-link">
          <i class="fa-fw fas fa-home"></i>
          <span>{{ site.data.locales[include.lang].tabs.home | upcase }}</span>
        </a>
      </li>

      <!-- Categories and Sub-categories -->
      {% for category in site.categories %}
        {% assign category_name = category | first %}
        {% assign posts_of_category = category | last %}
        {% assign first_post = posts_of_category | first %}

        {% if category_name == first_post.categories[0] %}
          <!-- Main Category -->
          {% capture category_url %}/categories/{{ category_name | slugify | url_encode }}/{% endcapture %}
          <li class="nav-item">
            <a href="{{ category_url | relative_url }}" class="nav-link d-flex justify-content-between">
              <i class="fa-fw fas fa-folder"></i>
              <span>{{ category_name | upcase }}</span>
              <span class="text-muted small font-weight-light">({{ posts_of_category.size }} posts)</span>
            </a>
          </li>

          <!-- Subcategories -->
          {% assign sub_categories = '' | split: '' %}
          {% for post in posts_of_category %}
            {% assign second_category = post.categories[1] %}
            {% if second_category %}
              {% unless sub_categories contains second_category %}
                {% assign sub_categories = sub_categories | push: second_category %}
              {% endunless %}
            {% endif %}
          {% endfor %}
          {% assign sub_categories = sub_categories | sort %}

          {% for sub_category in sub_categories %}
            {% capture sub_category_url %}/categories/{{ sub_category | slugify | url_encode }}/{% endcapture %}
            <li class="nav-item ms-3">
              <a href="{{ sub_category_url | relative_url }}" class="nav-link d-flex justify-content-between">
                <i class="fa-fw fas fa-angle-right"></i>
                <span>{{ sub_category }}</span>
                <span class="text-muted small font-weight-light">
                  ({{ site.categories[sub_category].size }} posts)
                </span>
              </a>
            </li>
          {% endfor %}
        {% endif %}
      {% endfor %}
    </ul>
  </nav>

  <div class="sidebar-bottom d-flex flex-wrap align-items-center w-100">
    {% unless site.theme_mode %}
      <button type="button" class="mode-toggle btn" aria-label="Switch Mode">
        <i class="fas fa-adjust"></i>
      </button>

      {% if site.data.contact.size > 0 %}
        <span class="icon-border"></span>
      {% endif %}
    {% endunless %}

    {% for entry in site.data.contact %}
      {% case entry.type %}
        {% when 'github', 'twitter' %}
          {%- capture url -%}
            https://{{ entry.type }}.com/{{ site[entry.type].username }}
          {%- endcapture -%}
        {% when 'email' %}
          {% assign email = site.social.email | split: '@' %}
          {%- capture url -%}
            javascript:location.href = 'mailto:' + ['{{ email[0] }}','{{ email[1] }}'].join('@')
          {%- endcapture -%}
        {% when 'rss' %}
          {% assign url = '/feed.xml' | relative_url %}
        {% else %}
          {% assign url = entry.url %}
      {% endcase %}

      {% if url %}
        <a
          href="{{ url }}"
          aria-label="{{ entry.type }}"
          {% unless entry.noblank %}
            target="_blank" rel="noopener noreferrer"
          {% endunless %}
        >
          <i class="{{ entry.icon }}"></i>
        </a>
      {% endif %}
    {% endfor %}
  </div>
</aside>
<!-- 수정전@@@@@@@@@@@@@@@@@@@@@@@@2 -->
<!-- #sidebar -->
